# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build output
/dist
/build

# Dependency directories
bower_components/

# IDE or Editor directories
.vscode/
.idea/

# Miscellaneous files
*.tgz
